//imports
@import "./container";

//variables
$text-font: "Roboto", sans-serif;
$heading-font: "Quicksand ", sans-serif;
$text-font: "Quicksand", sans-serif;
$background-color-dark: #263238;
$background-color-light: #ffffff;

* {
  box-sizing: border-box;
}
body {
  font-family: $text-font;
  margin: 0em;
  padding: 0em;
}
.dark-mode {
  background-color: $background-color-dark;
  color: white;
}
.light-mode {
  background-color: $background-color-light;
  color: black;
}
