//imports
@import "./container";
@import "./config";
@import "./menu";

* {
  box-sizing: border-box;
}
body {
  font-family: $text-font;
  margin: 0em;
  padding: 0em;
}
.dark-mode {
  background-color: $background-color-dark;
  color: white;
  .clock {
    color: $dark-text-color;
    &:hover {
      color: #ffffff;
    }
  }
  .color-button {
    color: $dark-text-color;
  }
}
.light-mode {
  background-color: $background-color-light;
  color: black;
  .clock {
    color: $light-text-color;
    &:hover {
      color: #000000;
    }
  }
  .color-button {
    color: $light-text-color;
  }
}
